*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #e0f6cb;
}
a{
    text-decoration: none;
}
.head{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 2rem;
    height: 5rem;
    margin: 0 auto;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navItem{
    padding: 0 1rem;
    color: #222222;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: color 0.2s;
}
.navItem:hover{
    cursor: pointer;
    color: #395bcc;
}
.mainLogo{
    display: flex;
    align-items: center;
}
.mainLogo:hover{
    cursor: pointer;
}
.logoImg{
    height: 4rem;
}
.logoTxt{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0 0.5rem;
}
.btnContainer{
    display: flex;
    align-items: center;
}
.reachBtn{
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #0d51f1;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.2s;
}
.reachBtn:hover{
    background-color: #1147c4;
    cursor: pointer;
}


/* Content */
.mainSec{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
}
.leftSec{
    display: flex;
    flex-direction: column;
}
.lfTitle{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
}
.lfTxt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    color: #484848;
    padding: 1rem 2rem 2rem 0;
}
.imageContainer{
    padding: 1rem;
}
.rsImg{
    border-radius: 8px;
    width: 20rem;
}

/* Styling Footer */
.footer{
    display: flex;
    padding: 1rem 3rem;
}
.first{
    flex: 2;
}
.details{
    padding-top: 0.5rem;
}
.detailItem{
    display: flex;
    padding: 0.3rem 0;
}
.detailHead{
    font-family: Arial;
    font-weight: 600;
    font-size: 1.02rem;
    padding: 0rem 0.5rem;
}
.detailTxt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.02rem;
    color: #484848;
}
.Second{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fooHead{
    font-family: Arial;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 1rem 0;
}
.eachLink{
    padding: 0.2rem 0;
}
.footLink{
    font-family: Cambria, Georgia,  serif;
    font-size: 1.07rem;
    color: #484848;
    transition: color 0.2s;
}
.footLink:hover{
    cursor: pointer;
    color: #1238e3;
}
.third{
    flex: 3;
}

