<footer id="footer_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="footer_area_about">
                    <img src="img/logo.png" alt="img" style="height: 60px;">
                    <p>Sports &amp; Cultural club in Nandigram</p>
                    <h6><strong>Address:</strong>&nbsp;Nandigram, Tajpur, Purba Medinipur, Pin-721656, West Bengal
                    </h6>
                    <h6><strong>Phone:</strong> <a href="tel:9564038162">+91 9564038162</a></h6>
                    <h6><strong>Email:</strong> <a href="mailto:agrradute51@gmail.com">agrradute51@gmail.com</a>
                    </h6>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                <div class="footer_navitem_ara">
                    <h3>Quick links</h3>
                    <div class="nav_item_footer">
                        <ul>
                            <li><a href="www.suruchisangha.html">Home</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="contact.html">Contact Us</a></li>

                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                <div class="footer_navitem_ara">
                    <h3>Links</h3>
                    <div class="nav_item_footer">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>

                            <li><a href="#">Terms of service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="footer_navitem_ara">
                    <h3>Latest Updates</h3>
                    <div class="footer_twitter_area">

                        <p>We celebrate the Manasa Puja on 20-04-2024. Please note the date and and don't forget to come and enjoy.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>